@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Poppins&display=swap');

.cores label::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.cores label[for=verde]::after {
    background-color: #33CC66;
}

.cores label[for=rosa]::after {
    background-color: #FF6666;
}

.cores label[for=azul]::after {
    background-color: #6666FF;
}

.cores input:checked + label::after {
    border: 6px solid rgba(0,0,0,0.3);
}

.cores label::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores {
    position: relative;
    padding-top: 80px;
}

.cores label[for=verde]::after {
    left: 0;
}

.cores label[for=rosa]::after {
    left: 60px;
}

.cores label[for=azul]::after {
    left: 120px;
}

.cores label img {
    display: block;
    max-width: 100%;
}

.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
    font-family: 'Poppins';
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    font-family: 'Alegreya Sans SC';
    text-transform: uppercase;
}

.comprar {
    background: #37ee6e;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin-top: 60px;
    cursor: pointer;
    text-align: center;
}

.cores label::after {
    border: 6px solid rgba(0,0,0,0);
    transition: 1s;
}

.cores label:hover::after {
    border: 6px solid rgba(0,0,0,0.1);
}

.cores label::after {
    cursor: pointer;
}

.textBuy {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Alegreya Sans SC';
}

.tamanhos output {
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    border: 3px solid #666;
    border-radius: 50%;
    color: #555;
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
    font-size: 1.5em;
    text-align: left;
    font-family: 'Alegreya Sans SC';
}

.detalhes  p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
}

.detalhes table {
    border-spacing: 0.5em;
    border-collapse: separate;
    text-align: center;
    background-color: #ececec;
}

.detalhes thead {
    background-color: #b9b9b9;
}

.detalhes thead th {
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;    
}

detalhes td {
    padding: 0.3em;
}

.detalhes td:fist-child {
    font-style: italic;
}

.produto-back {
    background-color: #f2f2f2;
    margin-top: 1em;
    border-top: 2px solid #ccc;
}

.cores label img {
    box-shadow:  0px 0px 1em 5px rgb(219, 219, 219);
    border-radius: 2%;
}

@media (min-width: 500px) {
    .detalhes {
        font-size: 1.2em;
    }
}

@media (min-width: 630px) {
    .produto {
        position: relative; 
        padding-left: 40%;
    }

    .cores {
        position: static;
        padding: 0;
    }

    .cores legend {
        position: static;
    }

    .cores label img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .cores label::after {
        position: static;
        float: left;
    }

    .cores label img {
        max-width: 35%;
        max-height: 100%;
    }

    .produto {
        font-size: 1.2em;
    }

    .cores label::after {
        margin-right: 10px;
    }

    .produto fieldset {
        display: inline-block;
        vertical-align: top;
        margin: 1em 0;
        min-width: 240px;
        width: 45%;
    }
}

@media (min-width: 319px) {
    .detalhes {
        width: auto;
    }

    .detalhes table {
        margin: auto;
        width: 100%;
    }
}