@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Poppins&display=swap');

body {
    color: #333333;
    font-family: 'Poppins';
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}


header {
    padding: 0 20px;
    nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        ul {
            display: block;
            text-align: center;
            li {
                a {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .active {
        left: 0;
        z-index: 2;
    }
    .menu-navegacao {
        display: block;
    }
}

h1 {
    text-align: center;
    padding: 10px;  
    font-family: 'Poppins';
    padding-top: 50px;
    &::after {
        content: '';
        width: 140px;
        height: 4px;
        background: currentColor;
        display: block;
        margin: 10px auto;
    }
}

h2 {
    border-bottom: 2px solid #333333;
    padding-top: 30px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
    &::first-letter {
        font-weight: bold;
    }    
}

p::first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}

figure {
    background-color: #F2EDED;
    border: 2px	solid	#ccc;
    text-align:	center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style:	italic;
    margin-top: 10px;
}

.centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

footer {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    img {
        margin-right: 30px;
        vertical-align: middle;
        width: 94px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    font-size: 14px;
    font-family: 'Poppins' ;
    padding-right: 45px;
    text-align: right;
    width: 140px;
    padding-top: 20px;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    position: static;
    text-align: right;
    margin-right: 0;
    width: 100%;
    font-family: 'Poppins' ;
    ul {
        font-size: 15px;
    }
    li {
        display: inline-block;
        margin: 5px;    
    }
    a {
        color: #808080; 
        text-decoration: none; 
        &:hover {
            color:#e93737;
        }
        &:active {
            color: #e93737;
        }
    }
}

.container {
    margin: 0 auto;
    width: auto;
}

.google-maps {
    float: center;
    width: 100%;
    margin: auto;

}

.youtube {
    width: 100%;
}

@media (max-width: 780px) {
    html {
        width: fit-content;
    }

    .container {
        width: 96%;
    }

    header {
        padding: 0 20px;
        position: fixed;
        nav {
            position: absolute;
            width: 100%;
            height: calc(100vh - 50px);
            background: #333333;
            top: 50px;
            left: -100%;
            transition: 0.5s;
            ul {
                display: block;
                text-align: center;
                li {
                    a {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                    .active {
                        color: #ffffff;
                        background: #2196f3;
                    }
                }
            }
        }
        .active {
            left: 0;
            z-index: 2;
        }
        .menu-toggle {
            display: block;
        }
    }
}
